body{
    font-family: 'Poppins', sans-serif;
}

.cabecalho{
    background-color: #383d58;
    color: white;
    display: flex;
    justify-content: space-around;
}
.gilmore-girls{
    width: 200px;
    position: relative;
    top: 50px;
    left: 150px;
}
.cabecalho-lista-item{
    display: inline-block;

}
.pessoas-coracao-imagem{
    width: 25%;

}
.escola{
    background-image: linear-gradient(#383d58, #FAACC4);
    color: white;
    display:flex;
}
.escola-conteudo{
    width: 35%;
    display: block;
    justify-content: center;
    align-items: center;
    padding: 24px 0;
}
.escola-titulo{
    padding: 24px 0;
}
.estudante-imagem{
    width: 120px;
    
}
